[submodule "lib/nest"]
	path = lib/nest
	url = https://github.com/NESTCollaboration/nest
[submodule "lib/gcem"]
	path = lib/gcem
	url = https://github.com/kthohr/gcem.git
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11.git
